.payment-successful {
    text-align: center;
    margin-top: 180px;
  }
  
  .payment-successful h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .payment-successful .fa-check-circle {
    color: green;
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  .payment-successful p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .payment-successful button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .payment-successful button:hover {
    background-color: #0056b3;
  }
  