
.badge.bg-gradient-success {
    background-color: #11e643 !important; /* Ensure background color */
    color: white !important; /* Ensure text color */
    padding: 0.5em 0.75em;
    border-radius: 12px;
    font-size: 0.75rem;
  }
  .badge.bg-gradient-danger {
    background-color: #dc3545 !important; /* Ensure background color */
    color: white !important; /* Ensure text color */
    padding: 0.5em 0.75em;
    border-radius: 12px;
    font-size: 0.75rem;
  }
  .table thead th {
    background-color: #f8f9fa;
    color: #6c757d;
    border-bottom: 2px solid #dee2e6;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-size: 0.75rem;
  }
  .table tbody tr {
    transition: background-color 0.3s;
  }
  .table tbody tr:hover {
    background-color: #f1f3f5;
  }
  .table .align-middle {
    vertical-align: middle !important;
  }
  .table .text-center {
    text-align: center !important;
  }
  .btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    padding: 0.5em 0.75em;
    border-radius: 5px;
    font-size: 0.80rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
  }
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    padding: 0.5em 0.75em;
    border-radius: 5px;
    font-size: 0.80rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
  }
  .card {
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .card-header {
    border-radius: 0.5rem 0.5rem 0 0;
    background: linear-gradient(87deg, #11cdef, #1171ef);
  }
  .card-body {
    padding: 1.5rem;
  }
  .table th, .table td {
    padding: 0.75rem;
  }
  .card-header h6 {
    font-size: 1rem;
    font-weight: bold;
  }
  /* .Background{
    background-color: #11e643;
  } */
  